.main {
  position: absolute;
  width: 593px;
  height: 714px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: linear-gradient(180deg, #211759, #4033a5);
  border-radius: 32px;
}
.container {
  position: absolute;
  width: 478px;
  height: 482px;
  left: 58px;
  top: 164px;

  background: #614ebb;
  border-radius: 20px;
}

.td {
  width: 140px;
  height: 140px;
  left: 24px;
  top: 24px;
  background: #2f2478;
  border-radius: 20px;
}
.table {
  margin-top: 25px;
  margin-left: 25px;
}
.gameHeading {
  color: aliceblue;
  display: flex;
  align-items: center;
  font-family: Prosto One;
}
.gameHeading span,
button {
  margin-right: 75px;
  color: aliceblue;
  background-color: transparent;
  border: 1px solid #ea53a3;
  font-family: Prosto One;
  border-radius: 8px;
  padding: 10px;
}
.playersInfo {
  float: left;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
.playersInfo button {
  margin: 15px;
}
.winnerContent {
  text-align: center;
  font-size: 34px;
  background: #a4a52a;
  border-radius: 50%;
  color: aliceblue;
}
