@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


.form{
position: absolute;
 width: 593px;
height: 714px;
 transform: translate(-50%, -50%);
top: 50%;
 left: 50%;
background: linear-gradient(180deg,#211759, #4033A5);
border-radius: 32px;
/* transform: rotate(180deg); */
}

.game-btn{
    position: absolute;
width: 481px;
height: 70px;
 left: 60px; 
top: 350px;
background: #7EDBFB;
box-shadow: 0px 8px 12px -2px #141C6D;
border-radius: 10px;

font-family: "Poppins",sans-serif;
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 45px;
color: #FFFFFF;
}

.multi-btn{
    position: absolute;
width: 481px;
height: 70px;
left: 60px;
top: 450px;

background: #EA53A3;
box-shadow: 0px 8px 12px -2px #141C6D;
border-radius: 10px;

font-family: "Poppins",sans-serif;
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 45px;
color: #FFFFFF;
}

.set-btn{
position: absolute;
width: 481px;
height: 70px;
left: 60px;
top: 550px;

background: #798FF6;
box-shadow: 0px 8px 12px -2px #141C6D;
border-radius: 10px;

font-family: "Poppins",sans-serif;
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 45px;
color: #FFFFFF;
}

img{
    position: absolute;
width: 182px;
height: 182px;
left: 200px;
top: 80px;
}

.speaker{
    position: absolute;
width: 47px;
height: 47px;
left: 500px;
top: 20px;
}