@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.form {
  position: absolute;
  width: 593px;
  height: 714px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: linear-gradient(180deg, #211759, #4033a5);
  border-radius: 32px;
  /* transform: rotate(180deg); */
}

.form1 {
  position: absolute;
  width: 478px;
  height: 553px;
  left: 60px;
  top: 90px;

  background: #614ebb;
  border-radius: 20px;
}

.win {
  position: absolute;
  width: 92px;
  height: 92px;
  left: 200px;
  top: -45px;
}

.speaker {
  position: absolute;
  width: 47px;
  height: 47px;
 left: 500px;
  top: 30px;
}

.rectangle{
    position: absolute;
width: 430px;
height: 65px;
left: 85px;
top: 150px;

background: #2F2478;
border-radius: 20px;
}

.level{
position: absolute;
width: 67px;
height: 45px;
left: 17px;
top: 10px;

font-family: "Poppins",sans-serif;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 45px;
/* identical to box height */


color: #FFFFFF;
}

.player{
    position: absolute;
width: 76px;
height: 30px;
left: 327px;
top: 18px;

font-family: "Poppins",sans-serif;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */


color: #FFF75B;
}

.play-btn{
  position: absolute;
width: 260px;
height: 72px;
left: 160px;
top: 600px;

background: #FF7AE5;
border-radius: 60px; 

font-family: "Poppins",sans-serif;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 45px;
/* identical to box height */


color: #FFFFFF;

}